@import 'colors.less';
@import 'download_buttons.less';
@import url('https://fonts.googleapis.com/css?family=Inter:300,600,800,900.css');

#app-root-2024-tdr_report_app .app {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto auto;
  >.header_container {
    align-content: space-between;
    background-color: #8b0000;
    background-image: url('./../assets/img/l/header.jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    min-height: 50vh;
    position: relative;
    @media all and (max-width: 970px) {
      background-image: url('./../assets/img/m/header.jpg');
    }
    @media all and (max-width: 450px) {
      background-image: url('./../assets/img/s/header.jpg');
    }
    > div {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 1350px;
      padding: 0 10px;
      @media all and (max-width: 450px) {
        padding: 0 0;
      }
      &.content_top {
        margin: 20px auto;
        width: 100%;
        h2 {
          color: #fff;
          font-size: 30px;
          line-height: 34px;
          margin: 0 0 20px 0;
          max-width: 350px;
          @media all and (max-width: 450px) {
            padding: 0 10px;
          }
          &:after {
            display: none;
          }
          .year {
            span {
              color: #ffcb05;
            }
          }
          .name {

          }
        }
      }
      &.between {
        flex: 1;
        min-height: 250px;
      }
      &.content_bottom {
        margin-bottom: 20px;
        width: 100%;
        >h2 {
          color: #fff;
          font-size: 50px;
          line-height: 54px;
          margin: 0 0 20px 0;
          max-width: 700px;
          padding: 0;
          @media all and (max-width: 450px) {
            font-size: 38px;
            line-height: 42px;
            padding: 0 10px;
          }
          &:after {
            display: none;
          }
        }
        .download_buttons_container {
          @media all and (max-width: 340px) {
            .overview {
              margin-bottom: 10px;
            }
          }
          @media all and (max-width: 450px) {
            padding: 0 10px;
          }
        }
        .chapters_navigation_container {
          display: flex;
          flex-direction: row;
          height: 100%;
          @media all and (max-width: 970px) {
            flex-direction: column;
          }
          button {
            background: none;
            border-radius: 0;
            border: 0;
            cursor: pointer;
            height: auto;
            margin: 0;
            padding: 0;
            text-align: left;
            @media all and (max-width: 970px) {
              border-bottom: 2px solid #fff;
              border-top: 2px solid #fff;
              margin-top: -2px;
            }
            .chapter_navigation {
              align-items: stretch;
              background-color: #004987;
              border-color: #004987;
              border-style: solid;
              border-width: 5px;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              height: 100%;
              margin: 0 10px 0 0;
              width: 170px;
              @media all and (max-width: 970px) {
                flex-direction: row;
                width: 100%;
                .chapter_meta {
                  order: 1;
                }
                .chapter_title {
                  order: 2;
                }
                .chapter_image {
                  order: 3;
                }
              }
              .chapter_title {
                background-color: #004987;
                box-sizing: border-box;
                display: flex;
                flex: 1;
                padding: 5px 5px 10px 5px;
                @media all and (max-width: 970px) {
                  align-items: center;
                  padding: 5px 5px 5px 5px;
                }
                h2 {
                  color: #fff;
                  font-size: 18px;
                  margin: 0;
                  padding: 0;
                  &:after {
                    display: none;
                  }
                }
              }
              .chapter_image {
                background: transparent;
                padding: 5px;
                position: relative;
                @media all and (max-width: 970px) {
                  height: 60px;
                  padding: 0;
                  width: 60px;
                }
                div {
                  aspect-ratio: 1/1;
                  background-size: 100% 100%;
                  &.chapter_image_1 {
                    background-image: url('./../assets/img/thumbnails/ch1.jpg');
                  }
                  &.chapter_image_2 {
                    background-image: url('./../assets/img/thumbnails/ch2.jpg');
                  }
                  &.chapter_image_3 {
                    background-image: url('./../assets/img/thumbnails/ch3.jpg');
                  }
                  &.chapter_image_4 {
                    background-image: url('./../assets/img/thumbnails/ch4.jpg');
                  }
                  &.chapter_image_5 {
                    background-image: url('./../assets/img/thumbnails/ch5.jpg');
                  }
                }
              }
              .chapter_meta {
                align-items: center;
                background-color: #004987;
                display: flex;
                justify-content: space-between;
                padding: 5px 5px 0px 5px;
                @media all and (max-width: 970px) {
                  padding: 5px 5px 5px 5px;
                }
                .chapter_number {
                  color: #fff;
                  font-size: 24px;
                  font-weight: 900;
                }
                .chapter_download_button {
                  color: #fff;
                  margin-top: -4px;
                  @media all and (max-width: 970px) {
                    display: none;
                  }
                  &:before {
                    background-image: url('./../assets/img/icons/icon_download_white.png');
                    background-size: 100%;
                    content: '';
                    display: block;
                    height: 30px;
                    width: 30px;
                  }
                }
              }
              &:hover {
                border-color: #a71f36;
                .chapter_title {
                  background-color: #a71f36;
                }
                .chapter_meta {
                  background-color: #a71f36;
                }
              }
            }
          }
        }
      }
    }
  }
  >.chapter_header {
    align-content: space-between;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto auto;
    max-width: 1350px;
    min-height: 700px;
    position: relative;
    width: 100%;
    // &:before {
    //   background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
    //   height: 100px;
    //   width: 100%;
    //   content: '';
    //   display: block;
    // }
    &.chapter_header_1 {
      background-image: url('./../assets/img/l/ch1.jpg');
      @media all and (max-width: 970px) {
        background-image: url('./../assets/img/m/ch1.jpg');
      }
      @media all and (max-width: 450px) {
        background-image: url('./../assets/img/s/ch1.jpg');
      }
    }
    &.chapter_header_2 {
      background-image: url('./../assets/img/l/ch2.jpg');
      @media all and (max-width: 970px) {
        background-image: url('./../assets/img/m/ch2.jpg');
      }
      @media all and (max-width: 450px) {
        background-image: url('./../assets/img/s/ch2.jpg');
      }
    }
    &.chapter_header_3 {
      background-image: url('./../assets/img/l/ch3.jpg');
      @media all and (max-width: 970px) {
        background-image: url('./../assets/img/m/ch3.jpg');
      }
      @media all and (max-width: 450px) {
        background-image: url('./../assets/img/s/ch3.jpg');
      }
    }
    &.chapter_header_4 {
      background-image: url('./../assets/img/l/ch4.jpg');
      @media all and (max-width: 970px) {
        background-image: url('./../assets/img/m/ch4.jpg');
      }
      @media all and (max-width: 450px) {
        background-image: url('./../assets/img/s/ch4.jpg');
      }
    }
    &.chapter_header_5 {
      background-image: url('./../assets/img/l/ch5.jpg');
      @media all and (max-width: 970px) {
        background-image: url('./../assets/img/m/ch5.jpg');
      }
      @media all and (max-width: 450px) {
        background-image: url('./../assets/img/s/ch5.jpg');
      }
    }
    > div {
      margin: 0 auto;
      &.content_top {
        border-bottom: 15px solid #004987;
        margin: 20px 0 0 0;
        width: 100%;
        >h2 {
          box-sizing: border-box;
          color: #fff;
          font-size: 22px;
          line-height: 26px;
          margin: 0 auto 20px auto;
          max-width: 1000px;
          padding: 0 10px;
          &:after {
            display: none;
          }
          .year {
            display: inline-block;
            margin-right: 10px;
            span {
              color: #ffcb05;
            }
          }
          .name {
            display: inline-block;
          }
        }
      }
      &.content_bottom {
        box-sizing: border-box;
        margin: 40px auto 0 auto;
        max-width: 1000px;
        padding: 0 10px;
        width: 100%;
        h2 {
          color: #fff;
          margin: 0 0 20px 0;
          max-width: 600px;
          &:after {
            display: none;
          }
          span {
            display: block;
            &.chapter {
              font-size: 20px;
              line-height: 264x;
            }
            &.number {
              font-size: 120px;
              font-weight: 900;
              line-height: 100px;
              margin: 0 0 10px 0;
            }
            &.name {
              font-size: 30px;
              font-weight: 800;
              margin: 0 0 10px 0;
            }
            &.desc {
              font-size: 22px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .backtoptop_container {
      flex: 1;
      margin: auto auto;
      max-width: 1000px;
      position: relative;
      width: 100%;
      .backtotop {
        background-color: transparent;
        background-image: url('./../assets/img/icons/icon_top.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100%; 
        border: 0;
        bottom: 20px;
        color: #fff;
        content: '';
        cursor: pointer;
        height: 40px;
        padding-bottom: 0;
        position: absolute;
        right: 10px;
        width: 40px;
        &:hover {
          animation: bounce 2s normal;
          // https://codepen.io/bitstarr/pen/XjaJGz
          @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(-20px);
            }
            60% {
              transform: translateY(-10px);
            }
          }
        }
      }
    }
  }
  >.content_container {
    background-color: #fff;
    margin-bottom: 100px;
    .chapter_menu_container {
      background-color: #004987;
      border-top: 4px solid rgba(255,255, 255, 0.3);
      margin: auto auto;
      max-width: 1350px;
      width: 100%;
      &:hover {
        background-color: #a71f36;
      }
      .chapter_menu_button {
        background-color: transparent;
        border: 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        line-height: 24px;
        margin: auto auto;
        width: 100%;
        div {
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          margin: auto auto;
          max-width: 1000px;
          padding: 10px 10px;
          text-align: left;
          .name {
          }
          .expand_label {
            font-size: 16px;
            line-height: 24px;
            position: relative;
            @media all and (max-width: 450px) {
              display: none;
            }
            &:after {
              background-image: url('./../assets/img/icons/icon_expand_white.png');
              background-size: 100%;
              content: '';
              display: inline-block;
              height: 30px;
              margin-left: 5px;
              margin-top: -4px;
              vertical-align: middle;
              width: 30px;
            }
          }
        }
        &.active {
          .expand_label {
            &:after {
              background-image: url('./../assets/img/icons/icon_contract_white.png');
            }
          }
        }
      }
    }
    .recommendations,
    .content {
      background-color: #fff;
      height: 0;
      margin: auto auto auto auto;
      max-width: 900px;
      overflow: hidden;
      transition: height .5s ease;
      // &:not(.active) {
      //   display: none;
      // }
      &.closing {
        transition: height .2s ease;
      }
      .inner {
        box-sizing: border-box;
        margin: 20px 0;
        .text_container {
        }
      }
    }
    .media_container {
      margin-bottom: 20px;
      .image_container {
        margin: auto auto;
        max-width: 600px;
        text-align: center;
        width: 100%;
        img {
          padding: 0;
          width: 100%;
        }
      }
    }
    .chart_container {
      max-width: 600px;
      margin: auto auto 20px auto;
    }
    .text_container {
      box-sizing: border-box;
      margin: auto auto;
      max-width: 700px;
      padding: 0 10px;
      ul {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 20px 0;
        padding: 0;
        li {
          list-style-type: none;
          margin: 0 0 10px 0;
          padding: 0 0 0 25px;
          position: relative;
          &:before {
            background-image: url(https://storage.unctad.org/2024-der_report/assets/img/2024-der_report_chevron_arrow_yellow.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            content: '';
            display: inline-block;
            height: 20px;
            left: 0;
            left: 0;
            position: absolute;
            top: 2px;
            width: 20px;
            z-index: 1;
          }
        }
      }
      ol {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 20px 0;
        li {
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 18px;
        letter-spacing: 0 !important;
        line-height: 24px;
        margin: 0 0 20px 0 !important;
      }
      blockquote {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 20px 0;
        padding: 40px 0 0 100px;
        position: relative;
        .quote {
          margin-bottom: 20px;
        }
        .author {
          .name {
            font-weight: 700;
            display: block;
          }
        }
        &:before {
          background-image: url('./../assets/img/icons/icon_quote_big.png');
          background-repeat: no-repeat;
          background-size: 100%;
          content: '';
          display: inline-block;
          height: calc(129px / 1.5);
          left: 0;
          position: absolute;
          top: 0;
          vertical-align: middle;
          width: calc(139px / 1.5);
        }
      }
    }
    h2 {
      margin: 0 0 20px auto;
      &:after {
        display: none;
      }
      .chapter {
        background-color: #009edb;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        margin: 0 0 10px 0;
        padding: 2px 10px;
        text-transform: uppercase;
      }
    }
  }
}














.app-root-2024-tdr_report .app {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .flag {
    display: inline-block;
    height: 23px;
    max-width: none;
    padding: 0;
    vertical-align: middle;
    width: 33px;
  }
  hr {
    border-color: #eee;;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: auto auto 5px auto;
  }
  .chart_container {
    background-color: #f4f9fd;
    margin: auto auto 20px auto;
    position: relative;
    .chart {
      overflow: hidden;
    }
    .meta_data {
      bottom: 50px;
      color: #222;
      position: absolute;
      right: 10px;
      text-align: right;
      .values {
        .year {
          display: inline-block;
          font-size: 60px;
          font-weight: 700;
          line-height: 60px;
        }
        .total {
          display: inline-block;
          font-size: 22px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
    .highcharts-a11y-proxy-button {
      cursor: default !important;
    }
    .line_chart {
      margin-top: 5px;
      svg {
        height: 42px;
        width: 170px;
        .line_container {
          fill: none;
          stroke-width: 3;
          stroke: @unblue;
        }
      }
    }

    .play_controls {
      margin: auto auto 10px auto;
      max-width: 1000px;
      padding-left: 10px;
      padding-top: 10px;
      h3 {
        display: inline-block;
        font-size: 30px;
        line-height: 30px;
        margin: 0 0 0 10px;
        vertical-align: middle;
      }
      button {
        background-color: transparent;
        border: 0;
        box-sizing: border-box;
        color: @unbluetext;
        cursor: pointer;
        font-size: 40px;
        line-height: 40px;
        margin: 0;
        outline: none;
        padding: 0;
        text-align: middle;
        vertical-align: middle;
        width: 40px;
      }
      .play_range_map[type=range],
      .play_range[type=range] {
        background-color: @ungrey;
        border-radius: 9px;
        display: inline-block;
        height: 9px;
        width: calc(100% - 70px);
        &::-webkit-slider-thumb {
          background-color: @unblue;
          border-radius: 11px;
          border: 1px solid @unblue;
        }
        &[type="range"] {
          accent-color: @unbluetext;
        }
      }
    }
    .infotext {
      color: #666;
      font-size: 13px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}

@import 'basics.less';