@import 'colors.less';

@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
#app-root-2024-tdr_report_app .app {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  >.header_container {
    align-content: space-between;
    background-color: #8b0000;
    background-image: url('./../../assets/img/TDR24_heasder_image_bkg_1600_.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    margin-bottom: 40px;
    min-height: 100vh;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 20px;
    .top {
      border-bottom: 5px solid #fff;
      border-left: 5px solid #fff;
      border-right: 5px solid #fff;
      color: #fff;
      margin-left: 15px;
      padding: 7px 15px;
      h2 {
        font-weight: 800;
        margin: 0;
      }
    }
    .bottom {
      .title_container {
        box-sizing: content-box;
        color: rgba(255, 255, 255, 1);
        max-width: 600px;
        min-width: 300px;
        padding: 0px 20px;
        position: relative;
        h3 {
          margin: 0;
        }
      }
      .download_buttons_container {
        padding: 20px 20px;
        button {
          background-color: #000;
          border-radius: 20px;
          border: 0;
          color: #fff;
          font-weight: 600;
          margin-right: 20px;
          padding: 7px 15px;
          &.quick_view {
            background-color: #ffcb05;
            color: #000;
          }
        }
      }
      .chapters_navigation_container {
        display: flex;
        padding: 0 10px;
        width: 100%;
        .chapter_navigation {
          border-color: #8b0000;
          border-style: solid;
          border-width: 5px;
          margin: 0 10px;
          max-width: 180px;
          .chapter_title {
            background-color: #8b0000;
            height: 120px;
            padding: 5px 5px 5px 5px;
            h2 {
              color: #fff;
              font-size: 18px;
            }
          }
          .chapter_image {
            background: transparent;
            padding: 5px;
            position: relative;
            img {
              width: 100%;
            }
          }
          .chapter_meta {
            background-color: #8b0000;
            display: flex;
            justify-content: space-between;
            padding: 5px 5px 5px 5px;
            .chapter_number {
              color: #fff;
              font-size: 24px;
              font-weight: 900;
            }
            .chapter_download_button {
              color: #fff;
              &:after {
                content: 'ICON';
                display: block;
              }
            }
          }
        }
      }
    }
  }
  >.content_container {
    margin: auto auto 40px auto;
    max-width: 900px;
    background-color: #fff;
    padding: 20px;
    &.two-column {
      max-width: 1350px;
    }
    .media_container {
      margin-bottom: 20px;
      video {
        aspect-ratio: 16/9;
        background-color: #000;
        height: 100%;
        width: 100%;
        &.slim {
          height: 300px;
        }
      }
      .image_container {
        margin: auto auto;
        max-width: 600px;
        text-align: center;
        width: 100%;
        img {
          padding: 0;
          width: 100%;
        }
      }
    }
    .text_container {
      max-width: 700px;
      margin: auto auto;
      p {
        margin: 0 0 20px 0;
        &.first {
          &:first-letter {
            float:left;
            font-weight: bold;
            font-size: 105px;
            line-height: 95px;
            text-transform: uppercase;
        }}
      }
    }
    h2 {
      margin: 0 0 20px auto;
      .chapter {
        padding: 2px 10px;
        color: #fff;
        display: inline-block;
        margin: 0 0 10px 0;
        font-size: 20px;
        text-transform: uppercase;
        background-color: #009edb;
      }
    }
  }

}
.app-root-2024-tdr_report .app {
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .flag {
    display: inline-block;
    height: 23px;
    max-width: none;
    padding: 0;
    vertical-align: middle;
    width: 33px;
  }
  hr {
    border-color: #eee;;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin: auto auto 5px auto;
  }
  .chart_container {
    background-color: #f4f9fd;
    margin: auto auto 20px auto;
    position: relative;
    .chart {
      overflow: hidden;
    }
    .meta_data {
      bottom: 50px;
      color: #222;
      position: absolute;
      right: 10px;
      text-align: right;
      .values {
        .year {
          background-color: rgba(255, 255, 255, 0.5);
          display: inline-block;
          font-size: 60px;
          font-weight: 700;
          line-height: 60px;
        }
        .total {
          background-color: rgba(255, 255, 255, 0.9);
          display: inline-block;
          font-size: 22px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }
    .highcharts-a11y-proxy-button {
      cursor: default !important;
    }
    .line_chart {
      margin-top: 5px;
      svg {
        height: 42px;
        width: 170px;
        .line_container {
          fill: none;
          stroke-width: 3;
          stroke: @unblue;
        }
      }
    }

    .play_controls {
      margin: auto auto 10px auto;
      max-width: 1000px;
      padding-left: 10px;
      padding-top: 10px;
      h3 {
        display: inline-block;
        font-size: 30px;
        line-height: 30px;
        margin: 0 0 0 10px;
        vertical-align: middle;
      }
      button {
        background-color: transparent;
        border: 0;
        box-sizing: border-box;
        color: @unbluetext;
        cursor: pointer;
        font-size: 40px;
        line-height: 40px;
        margin: 0;
        outline: none;
        padding: 0;
        text-align: middle;
        vertical-align: middle;
        width: 40px;
      }
      .play_range_map[type=range],
      .play_range[type=range] {
        background-color: @ungrey;
        border-radius: 9px;
        display: inline-block;
        height: 9px;
        width: calc(100% - 70px);
        &::-webkit-slider-thumb {
          background-color: @unblue;
          border-radius: 11px;
          border: 1px solid @unblue;
        }
        &[type="range"] {
          accent-color: @unbluetext;
        }
      }
    }
    .infotext {
      color: #666;
      font-size: 13px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}

@import 'basics.less';